{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "CosmosDbOptions:AccountEndpoint": "https://localhost:8081/",
    "CosmosDbOptions:AccountKey": "C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==",
    "CosmosDbOptions:DatabaseId": "PostDietProgress",
    "CosmosDbOptions:DatabaseThroughput": "400",
    "CosmosDbOptions:ContainerThroughput": "400",
    "CosmosDbOptions:PartitionKey": "/partitionKey",
    "CosmosDbOptions:SettingContainerId": "Setting",
    "CosmosDbOptions:DietDataContainerId": "DietData",
    "CosmosDbOptions:DietDataTimeToLive": 31536000,
    "HealthPlanetOptions:TanitaClientId": "",
    "HealthPlanetOptions:TanitaClientSecretToken": ""
  }
}